<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Text</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class = "windmill">
    <div class="hills" contenteditable="true">
      <p>edit your words</p>
    </div>
    <div class="hills2"></div>

    <div class="wheel">
      <div class="windwheel"></div>
      <div class="windwheel2"></div>
      <div class="windwheel3"></div>
      <div class="windwheel4"></div>
    </div>
    <div class="roof"></div>
    <div class="mill"></div>
    <div class="cloud"></div>
    <div class="cloud2"></div>
  </div>

  <ion-item *ngFor="let file of images; let i = index">
    <ion-img [src]="file.data"></ion-img>
    <ion-button slot="end" fill="clear" (click)="startUpload(file)">
      <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="deleteImage(file)">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      
      Slide 1

    </ion-slide>
    <ion-slide>Slide 2</ion-slide>
    <ion-slide>Slide 3</ion-slide>
  </ion-slides>

</ion-content>
